*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 500px;
    width: 100%;
    background-image: url("../image/beijing.jpg");
    background-size: 100%;
}

#div
{
    color: white;
    margin: auto;
    margin-top: 150px;
    width: 30%;
    height: 40%;
}

a
{
    text-decoration: none;
    color: whitesmoke;
}

a:hover
{
    color: #00FF00;
}