<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增商品</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>

<div id="div">
    <br>
    <br>
    <form class="layui-form" action="" id="regForm">

        <div class="layui-form-item">
            <label class="layui-form-label">商品名</label>
            <div class="layui-input-inline">
                <input type="text" id="sname" name="sname" lay-verify="sname" autocomplete="off" class="layui-input"
                       placeholder="请输入商品名称">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品单价</label>
            <div class="layui-input-inline">
                <input type="number" id="smoney" name="smoney" lay-verify="smoney" autocomplete="off"
                       class="layui-input"
                       placeholder="请输入商品单价">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">商品数量</label>
            <div class="layui-input-inline">
                <input type="number" id="scount" name="scount" lay-verify="scount" autocomplete="off"
                       class="layui-input"
                       placeholder="请输入商品数量">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">保质期到期时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test23" name="sendtime" lay-verify="required"
                       placeholder="yyyy-MM-dd">
            </div>
        </div>

        <div class="layui-form-item" style="padding-left: 110px">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo2">确认新增</button>
        </div>

    </form>
</div>

<script>
	var reg = new RegExp("^(1|([1-9]\\d{0,1})|100)$");

	layui.use(['form', 'layer', 'laydate', 'jquery'], function () {
		var form = layui.form,
			layer = layui.layer,
			$ = layui.jquery,
			laydate = layui.laydate;

		//获取当前时间
		var date = new Date();
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		var d = date.getDate() + 1;
		var now = "" + y + "-" + m + "-" + d;

		//进货时间
		laydate.render({
			elem: '#test22'
			, showBottom: false
			, min: now
		});

		//保质期到期时间
		laydate.render({
			elem: '#test23'
			, showBottom: false
			, min: now
		});

		//自定义验证规则
		form.verify({
			sname: function (value) {
				if (value.length > 10 || value.length < 2) {
					return '商品名请控制在2-10个字！';
				}
			},
			smoney: function (value) {

					//判断是否为整数
				if (value % 1 === 0) {
					//判断范围是否在1-100之间
					if (value > 100 || value < 1) {
						return '请输入1-100的整数';
					} else {
						//判断是否有出现.的符号
						if (value.indexOf('.') !== -1) {
							return '请不要输入非法字符！';
						}
					}
				} else {
					return '请输入1-100的整数';
				}
			},
			scount: function (value) {

				//判断是否为整数
				if (value % 1 === 0) {
					//判断范围是否在1-100之间
					if (value > 100 || value < 1) {
						return '请输入1-100的整数';
					} else {
						//判断是否有出现.的符号
						if (value.indexOf('.') !== -1) {
							return '请不要输入非法字符！';
						}
					}
				} else {
					return '请输入1-100的整数';
				}
			}
		});

		//绑定的按钮是submit 监听提交 lay-filter="search"
		form.on('submit(demo2)', function (data) {
			var formData = data.field;
			var sname = formData.sname;
			var smoney = formData.smoney;
			var scount = formData.scount;
			var sstarttime = formData.sstarttime;
			var sendtime = formData.sendtime;

			console.log(formData);

			$.ajax({
				type: "post"
				,
				url: '/goods/insertGoods'
				//预期服务器返回的数据类型;
				,
				datatype: "text"
				//从该js会发出到服务器的数据
				,
				data: {
					"sname": sname,
					"smoney": smoney,
					"scount": scount,
					"sstarttime": sstarttime,
					"sendtime": sendtime
				}
				//从servlet接收的数据
				,
				success: function (msg) {
					if (msg === "1") {
						layer.msg("新增成功！");
						parent.location.reload();
					} else {
						layer.msg("新增失败！")
					}
				},
				error: function () {
					alert("服务器正忙.....");
				}
			});
			return false;//false：阻止表单跳转  true：表单跳转
		});

	});
</script>
</body>
</html>