<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购买商品</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>

<div id="div">
    <br>
    <br>
    <input type="hidden" id="umoney" th:value="${session.user.umoney}">
    <form class="layui-form" action="" id="regForm">

        <div class="layui-form-item">
            <label class="layui-form-label">商品名</label>
            <div class="layui-input-inline">
                <input type="text" id="sname" name="sname" lay-verify="required" disabled="disabled" autocomplete="off"
                       class="layui-input"
                       placeholder="请输入商品名称">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品单价</label>
            <div class="layui-input-inline">
                <input type="number" id="smoney" name="smoney" lay-verify="smoney" disabled="disabled"
                       autocomplete="off"
                       class="layui-input"
                       placeholder="请输入商品单价">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">购买数量</label>
            <div class="layui-input-inline">
                <select name="buynum" id="buynum" lay-filter="buynum">
                    <option value="" selected=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>

        <label class="layui-form-label">总金额：</label>
        <label class="layui-form-label" id="total">0</label>

        <br>
        <br>
        <div class="layui-form-item" style="padding-left: 110px">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo2" style="width: 190px">立即支付</button>
        </div>
    </form>
</div>

<script>
	var sid;
	var scount;

	function selectinfo(data) {
		$("#sname").val(data.sname);
		$("#smoney").val(data.smoney);
		sid = data.sid;
		scount = data.scount;
	}

	layui.use(['form', 'layer', 'laydate', 'jquery'], function () {
		var form = layui.form,
			layer = layui.layer,
			$ = layui.jquery,
			laydate = layui.laydate;

		//获取当前时间
		var date = new Date();
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		var d = date.getDate();
		var now = "" + y + "-" + m + "-" + d;

		//进货时间
		laydate.render({
			elem: '#test22'
			, showBottom: false
			, min: now
		});

		//保质期到期时间
		laydate.render({
			elem: '#test23'
			, showBottom: false
			, min: now
		});

		form.on("select", function (data) {
			var num = parseInt(data.value);
			var price = parseInt($("#smoney").val());
			var totalPrice = num * price;
			$("#total").text(totalPrice);
		});

		//绑定的按钮是submit 监听提交 lay-filter="search"
		form.on('submit(demo2)', function (data) {
			var formData = data.field;
			var price = formData.smoney;
			var num = formData.buynum;
			var total = parseInt(price) * parseInt(num);
			var oname = $("#sname").val();
			var umoney = parseInt($("#umoney").val());
			var changecount = parseInt(scount);

			if (changecount >= parseInt(num)) {
				$.ajax({
					type: "post"
					,
					url: '/goods/buyGoods'
					//预期服务器返回的数据类型;
					,
					datatype: "text"
					//从该js会发出到服务器的数据
					,
					data: {
						"total": total,
						"price": price,
						"num": num,
						"oname": oname,
						"sid": sid
					}
					//从servlet接收的数据
					,
					success: function (msg) {
						if (msg === 1) {
							alert("支付成功！等待管理员确认订单");
							parent.location.reload();
						} else if (msg === 0) {
							alert("余额不足！请充值！");
						} else {
							alert("支付失败！请重试！");
						}
					},
					error: function () {
						alert("服务器正忙.....");
					}
				});
			} else {
				alert("库存不足，请修改数量");
			}
			return false;//false：阻止表单跳转  true：表单跳转
		});

	});
</script>
</body>
</html>