<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.dao.GoodsMapper">

    <insert id="insertGoods">
        insert into shopinfo(SNAME, SMONEY, SCOUNT, SSTARTTIME, SENDTIME,SSOLE)
        values (#{sname},#{smoney},#{scount},#{sstarttime},#{sendtime},0)
    </insert>

    <select id="queryNewsWithParamTotalNum" parameterType="String" resultType="integer">
        select count(*) from shopinfo
        <where>
            <if test="sname !=null and sname!=''">
                and sname like CONCAT('%','${sname}','%')
            </if>
        </where>
    </select>

    <select id="queryNewsWithParam" parameterType="String" resultType="com.example.shopping.entity.Shopinfo">
        select * from shopinfo
        <where>
            <if test="sname !=null and sname!=''">
                and sname like CONCAT('%','${sname}','%')
            </if>
        </where>
        order by SENDTIME limit ${statrNum},${limit}
    </select>

    <select id="queryBuyGoodsListNum" resultType="integer">
        select count(*) from shopinfo
        <where>
            <if test="sname !=null and sname!=''">
                and sname like CONCAT('%','${sname}','%')
            </if>
            <if test="now !=null and now!=''">
                and sendtime > #{now}
            </if>
        </where>
    </select>

    <select id="queryBuyGoodsList" resultType="com.example.shopping.entity.Shopinfo">
        select * from shopinfo
        <where>
            <if test="sname !=null and sname!=''">
                and sname like CONCAT('%','${sname}','%')
            </if>
            <if test="now !=null and now!=''">
                and sendtime > #{now}
            </if>
        </where>
        order by SENDTIME limit ${statrNum},${limit}
    </select>

    <select id="querySingleGoods" resultType="com.example.shopping.entity.Shopinfo">
        select * from shopinfo where sid = ${sid};
    </select>

    <update id="updateNewsStatue">
        update journalism set jstatue=#{statue} where jid=#{jid}
    </update>

    <update id="updatePrice">
        update shopinfo set SMONEY=#{smoney} where SID=#{sid}
    </update>

    <delete id="deleteGoods" >
        delete from shopinfo where SID = #{sid}
    </delete>

    <update id="updateSole">
        update shopinfo set SSOLE=#{ssole},SCOUNT=#{scount} where SID=#{sid}
    </update>
</mapper>
	